<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Role management')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '', '/admin/role/', 'Роль')"></div>



<div th:remove="all">
    <div th:fragment="main">
        <form action="#" th:action="@{/admin/role/}" th:object="${role}" method="post">
            <div class="form-group">
            <input type="hidden" th:field="*{roleId}" />
            <label >Назва ролі:</label>
            <input class="form-control" type="text" th:field="*{roleName}" />
            </div>
            <input class="btn btn-primary" type="submit" value="Сохранить"/>
        </form>
    </div>
</div>

</html>

