<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Role management')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/role/add','', 'Ролі')"></div>
<style>
  table{
    width: 90%;
    margin: 5px auto;
  }
  tbody tr{
    padding: 5px 5px;
    height: 25px;
  }
  td,th{
    text-align: center;
  }
</style>

<div th:remove="all">
  <div th:fragment="main">
    <div class="rangList" th:unless="${#lists.isEmpty(roleList)}">

      <table class="table">
        <thead>
        <tr>
          <!--<th>Id</th>-->
          <th>Дії</th>
          <th>Роль</th>
          <th>Користувачi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roleList}">
          <!--&lt;!&ndash;<td th:text="${role.roleId}"></td>&ndash;&gt;-->
          <td>
            <a class="glyphicon glyphicon-pencil btn btn-link btn-xs" th:href="@{/admin/role/edit/} + ${role.roleId}"></a>
            <a class="glyphicon glyphicon-remove btn btn-danger btn-xs" onclick="event.preventDefault();deleteElem(this)" th:href="@{/admin/role/delete/} + ${role.roleId}"></a>
          </td>
          <td th:text="${role.roleName}"></td>
          <td><a th:href="@{/admin/role/users/} + ${role.roleId}">Переглянути</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <script>
        function deleteElem(e){
            return confirm('Видалити цю роль?')? location.href = e.getAttribute('href'):false;
        }
    </script>
  </div>

</div>

</html>