<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('User group list')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/userGroup/add','', 'Групи')"></div>
<style>
  table{
  width: 60%;
  margin: 5px;
  }
  tbody tr{
  padding: 5px 5px;
  height: 30px;
  }
  td,th{
  text-align: center;
  }
</style>

<div th:remove="all">
  <div th:fragment="main">

    <div th:unless="${#lists.isEmpty(userGroupList)}">

      <table class="table">
        <thead>
        <tr>
          <!--<th>Id</th>-->
          <th>Дії</th>
          <th>Назва групи</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userGroup : ${userGroupList}">
          <!--<td th:text="${userGroup.id}"></td>-->
          <td>
            <a class="glyphicon glyphicon-pencil btn btn-link btn-xs" th:href="@{/admin/userGroup/edit/} + ${userGroup.id}"></a>
            <a class="glyphicon glyphicon-remove btn btn-danger btn-xs" onclick="event.preventDefault();deleteElem(this)" th:href="@{/admin/userGroup/delete/} + ${userGroup.id}"></a>
          </td>
          <td th:text="${userGroup.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <script>
        function deleteElem(e){
            return confirm('Видалити цю группу?')? location.href = e.getAttribute('href'):false;
        }
    </script>
  </div>
</div>
</html>

