<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div class="logo-header-bar clearfix">
        <a class="logo-header-img" href="/home" ></a>
        <!--src="image/logo-mobile.png"-->
        <img data-activates="slide-out" class="btn-open-menu toggle-button" src="/resources/frontend/image/hamburger.png" alt="Вiдкрити меню">
    </div>
    <div class="banner-header">
        <a href="">Реклама от Google Заголовок</a>
        <p>
            Небольшой текст-описание в несколько строк. И еще в несколько слов. Занимает это поле.<a>arts.in.ua</a>
        </p>
    </div>
</header>
</body>
</html>