<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('Mark List')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/mark/add','', 'Відзнаки')"></div>
<style>
  table{
    width: 60%;
    margin: 5px 30px 5px 30px;
  }
  tbody tr{
    padding: 5px 5px;
    height: 60px;
  }
  td,th{
    text-align: center;
  }
  img{
    width: 50px;
    height: 50px;
    border-radius:100%;
  }
</style>


<div th:remove="all">
  <div th:fragment="main">

    <div class="markList" th:unless="${#lists.isEmpty(markList)}">

      <table class="table">
        <thead>
        <tr>
          <!--<th>Id</th>-->
          <th>Дії</th>
          <th>Відзнака</th>
          <!--<th>Image URL</th>-->
          <th>Вигляд</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${markList}">
          <!--<td th:text="${mark.markId}"></td>-->
          <td>
            <a class="glyphicon glyphicon-pencil btn btn-link btn-xs" th:href="@{/admin/mark/edit/} + ${mark.markId}"></a>
            <a class="glyphicon glyphicon-remove btn btn-danger btn-xs" th:href="@{/admin/mark/delete/} + ${mark.markId}"></a>
          </td>
          <td th:text="${mark.markName}"></td>
          <!--<td th:text="${mark.imageURL}"></td>-->
          <td><img th:src= "@{'data:image;base64,' + ${mark.encodeFileToBase64Binary()}}" width="100px" height="100px;"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</html>
