<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/fragments/head :: header('City list')"></div>
<div th:replace="admin/fragments/body :: body(~{::main}, '/admin/city/add','', 'Міста')"></div>
<style>
  table{
    width: 60%;
    margin: 5px;
  }
  tbody tr{
    padding: 5px 5px;
    height: 30px;
  }
  td,th{
    text-align: center;
  }
</style>
<div th:remove="all">
  <div th:fragment="main">

    <div class="cityList" th:unless="${#lists.isEmpty(cityList)}">

      <table class="table">
        <thead>
        <tr>
          <!--<th>Id</th>-->
          <th>Дії</th>
          <th>Місто</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${cityList}">
          <!--<td th:text="${city.cityId}"></td>-->
          <td>
            <a class="glyphicon glyphicon-pencil btn btn-link btn-xs" th:href="@{/admin/city/edit/} + ${city.cityId}"></a>
            <a class="glyphicon glyphicon-remove btn btn-danger btn-xs" th:href="@{/admin/city/delete/} + ${city.cityId}"></a>
          </td>
          <td th:text="${city.cityName}"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</html>
