<!DOCTYPE html>
<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragments/head :: head('Нова бесіда')"></head>
<head>
    <!--СЮДА МОЖНО ДОБАВИТЬ ВСЁ, ЧЕГО НЕТУ В head.HTML-->
</head>
<body>
<div th:replace="home/fragments/body :: body(~{::main}, '', false, '')"></div>

<div th:remove="all">
    <main class="my-way-main clearfix"  th:fragment="main">
        <form th:object="${chat}" th:method="post" th:action="@{/home/messages/newChat}">
            <input type="hidden" th:field="*{chatId}">
            <div class="form-group newChat_title">
                <label class="newChat_title-item" th:for="chatTitle">Назва бесіди</label>
                <input class=" form-control newChat_title-input" type="text" th:field="*{chatTitle}" placeholder="Введiть назву бесiди">
            </div>
            <div class="newChat_body">
                <ul class="newChat_body_list">
                    <li class="newChat_body_list_item" th:each="user : ${userList}">
                        <img th:src="@{'data:image;base64,' + ${user.encodeFileToBase64Binary()}}"  alt="аватар">
                        <label class="newChat_body_list_item_name" th:text="${user.firstName + ' ' + user.lastName}">ROLE_USER</label>
                        <label class="newChat_body_list_item_checkbox">
                            <input type="checkbox" th:field="*{members}" th:value="${user.userId}" title="учасники"/>
                            <span></span>
                        </label>
                    </li>
                </ul>
            </div>
            <button class=' btn btn-primary messageList-content-newMsg-button clearfix' type="submit">Створити бесiду</button>
        </form>
    </main>
</div>

<script class="jquery" type="text/javascript" src="/resources/frontend/js/jquery-1.8.2.min.js"></script>
<script src="/resources/frontend/js/sideBar.js"></script>
<script src="/resources/frontend/js/peresvit.js"></script>

</body>
</html>
