<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <!--<div th:replace="fragments/headerTest :: header-css"/>-->

</head>
<body>



<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a href="#">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a href="#">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a href="#">Normal page</a></h2>
    </div>

</div>
<!-- /.container -->
<!--
<div th:replace="fragments/headerTest :: header"/>
<div th:replace="fragments/footerTest :: footer"/>-->


</body>
</html>