<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="copyright-footer">
        <span>&copy;2016 Пересвiт</span>
    </div>

    <div class="banner-footer">
        <a href="#">Реклама от Google Заголовок</a>
        <p>
            Небольшой текст-описание в несколько строк.<a href="">fight.in.ua</a>
        </p>
    </div>

    <div class="icons-footer">
        <a href="https://www.facebook.com/peresvit.ua/"></a>
        <a href="https://peresvit.ua/"></a>
        <a href="https://peresvit.ua/ru/"></a>
    </div>
</footer>

</body>
</html>