<html lang="ukr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <!--<link rel="stylesheet" href="/resources/frontend/libraries/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <!--<link rel="stylesheet" th:href="@{/css/jquery.bxslider.css}">-->
    <link rel="stylesheet" th:href="@{/css/jquery.bxslider.css}"/>
    <!--<link rel="stylesheet" href="/resources/dhtmlx/skins/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">-->
    <link rel="stylesheet" th:href="@{/dhtmlx/skins/dhtmlxscheduler.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/peresvit.css}">-->
    <link rel="stylesheet" th:href="@{/css/peresvit.css}"/>
