<html xmlns:th="http://www.thymeleaf.org">
<footer  th:fragment="footBar">
    <div class="row">
        <div class="col-xs-8 footer_commercial">
            <p>Гугл реклама<span class="glyphicon glyphicon-pencil pencil" aria-hidden="true"></span></p>

        </div>
        <div class="col-xs-2">
            <img src="/resources/frontend/images/Logovk.png" alt="vk">
            <img src="/resources/frontend/images/Logofc.png" alt="fs">
            <img src="/resources/frontend/images/Logoin.png" alt="instagram">
        </div>
    </div>
</footer>